<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodePassio</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/Pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/social-icons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/main.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-top">
                        <div class="header-top-logo">
                            <a href="index.html" title="Logo"><img src="img/logo.png" alt="Dblog Logo" data-rjs="2"></a>
                        </div>
                        <div class="header-top-text">
                            <p>
                                <span class="font-italic">“Modern Javascript”</span>
                                book is available! <a href="shop.html" title="Modern Javascript Book">
                                    Check out<i class="pe-7s-angle-right"></i>
                                </a>
                            </p>
                        </div>
                        <nav class="header-top-nav">
                            <ul>
                                <li class="header-top-nav-search">
                                    <a href="#" class="light-link" title="Search"><i class="pe-7s-search"></i></a>
                                    <form action="#" method="get">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <button type="submit"><i class="pe-7s-search"></i></button>
                                    </form>
                                </li>
                                <li>
                                    <a href="#" class="light-link" title="Menu">
                                        <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-12">

                    @(await Component.InvokeAsync("Menu"))

                </div>
            </div>
        </div>
    </header>

    <nav class="mobile-nav header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </nav>

    @RenderBody();

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="footer-section">
                        <h3 class="footer-section-title">Last Responses</h3>
                        <ul class="footer-section-content">
                            <li class="footer-section-content-response">
                                <img src="img/profile-picture2.png" alt="Profile Picture" data-rjs="2">
                                <div class="footer-section-content-response-wrapper">
                                    <h4>
                                        <span class="response-author">Jobby Foster</span> in
                                        <a href="" class="response-subject light-link" title="Subject Response">
                                            Want to learn Javascript in 2016?
                                        </a>
                                    </h4>
                                    <p class="font-primary">Love this guy and his dog, really nice work!</p>
                                </div>
                            </li>

                            <li class="footer-section-content-response">
                                <img src="img/profile-picture3.png" alt="Profile Picture" data-rjs="2">
                                <div class="footer-section-content-response-wrapper">
                                    <h4>
                                        <span class="response-author">Sheryl Winarick</span> in
                                        <a href="" class="response-subject light-link" title="Subject Response">
                                            Want to learn Javascript in 2016?
                                        </a>
                                    </h4>
                                    <p class="font-primary">Love the way you did the background image man.</p>
                                </div>
                            </li>

                            <li class="footer-section-content-response">
                                <img src="img/profile-picture4.png" alt="Profile Picture" data-rjs="2">
                                <div class="footer-section-content-response-wrapper">
                                    <h4>
                                        <span class="response-author">Jobby Foster</span> in
                                        <a href="" class="response-subject light-link" title="Subject Response">
                                            Want to learn Javascript in 2016?
                                        </a>
                                    </h4>
                                    <p class="font-primary">Really nice style. I need to take note for drawing people!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="footer-section">
                        <h3 class="footer-section-title">Last Tweet</h3>
                        <ul class="footer-section-content">

                            <li class="footer-section-content-twitt">
                                <h4><a href="#" title="microsoft">@@microsoft</a></h4>
                                <time datetime="2016-12-31T23:59:59Z">3 days ago</time>
                                <p class="font-primary">
                                    She's climbing #50Peaks in 50 states in 50 days. Meet <a href=""
                                                                                             title=""
                                                                                             class="light-link">http://msft.it/Melissa</a>
                                </p>
                            </li>

                            <li class="footer-section-content-twitt">
                                <h4><a href="" title="microsoft">@@microsoft</a></h4>
                                <time datetime="2016-12-31T23:59:59Z">3 days ago</time>
                                <p class="font-primary">
                                    She's climbing #50Peaks in 50 states in 50 days. Meet <a href=""
                                                                                             title=""
                                                                                             class="light-link">http://msft.it/Melissa</a>
                                </p>
                            </li>

                            <li class="footer-section-content-twitt">
                                <h4><a href="" title="microsoft">@@microsoft</a></h4>
                                <time datetime="2016-12-31T23:59:59Z">3 days ago</time>
                                <p class="font-primary">
                                    She's climbing #50Peaks in 50 states in 50 days. Meet <a href=""
                                                                                             title=""
                                                                                             class="light-link">http://msft.it/Melissa</a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-4 col-xs-12">
                    <div class="footer-section border-bottom">
                        <img src="img/logo-grey.png" alt="" class="footer-section-title-img" data-rjs="2">
                        <div class="footer-section-content">
                            <p class="font-primary footer-section-content-about">
                                D -Blog is a responsive, beautiful, <span class="black">creative & unique</span> wordpress
                                theme best suited for blogs & personal
                                portfolio showcases. It’s
                                easy to use &amp; setup, <span class="black">SEO friendly</span> and has top notch standard
                                compliant code.
                            </p>
                        </div>
                    </div>

                    <div class="footer-section">
                        <h3 class="footer-section-title footer-section-newsletter">Newsletter</h3>
                        <div class="footer-section-content">
                            <p class="font-primary ">Stay up to do date with my posts, subscribe to newsletter:</p>
                            <form action="#" method="post">
                                <input type="text" class="form-control" placeholder="Type Email">
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- COPYRIGHT -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">
                        <ul>
                            <li><a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a></li>
                            <li><a href="" title="Github"><i class="icon-social_github_circle"></i></a></li>
                            <li><a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a></li>
                        </ul>
                        <p class="font-primary">
                            &copy; Theme by <a href="#" title="" class="black">Komon.ski</a> . All
                            Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end COPYRIHT -->
    </footer>
    <!-- end FOOTER -->
    <!-- EXTERNAL JAVASCRIPT -->
    <script type="text/javascript" src="~/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="~/js/tether.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/retina.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/webfont.js"></script>

    <!-- MY JAVASCRIPT -->
    <script type="text/javascript" src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
