@page
@model CodePassio_Web.Pages.Post.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<!-- NEXT AND PREVIOUS ARTICLES -->
<div class="article-nav">
    <ul>
        <li>
            <a href="#" title="Next Article">
                <i class="pe-7s-angle-right"></i>
                <div>
                    <p>Next article</p>
                    <h3>ECMAScript 2016</h3>
                </div>

            </a>
        </li>
        <li>
            <a href="#" title="Previous Article">
                <i class="pe-7s-angle-left"></i>
                <div>
                    <p>Previous article</p>
                    <h3>Orange is the new Black</h3>
                </div>
            </a>
        </li>
    </ul>
</div>


<!-- MAIN -->
<main>

    <!-- ARTICLE BLOG POST -->
    <section class="articles articles-blog-post">
        <article class="articles-blog-post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">

                        <!-- TEXT ARTICLE -->
                        <div class="articles-header">
                            <time datetime="2016-10-11">@Model.Post.ModifiedDate.ToShortDateString()</time>
                            <span class="articles-header-tag-green">New</span>
                            <span class="articles-header-category"><a href="#" class="green" title="">@Model.Post.Category.Name</a></span>
                        </div>
                        <div class="articles-content">
                            <h1 class="articles-content-blog-post-title">
                                <a href="#" title="@Model.Post.Title">
                                    @Model.Post.Title
                                </a>
                            </h1>
                            <div>
                                @Html.Raw(Model.Post.Content)
                            </div>
                            
                        </div>
                    </div>


                    <!-- SHARE THIS BLOCK -->
                    <div class="col-lg-2 col-xs-12">
                        <div class="articles-blog-post-share">
                            <h3>Share this</h3>
                            <div>
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                                    <li><a href="#" title="Google+"><i class="fa fa-google-plus"></i>Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </section>
    <!-- end ARTICLE BLOG POST -->
    <!-- ARTICLE BOTTOM INFO -->
    <div class="articles-info">

        <!-- ARTICLE BOTTOM INFO AUTHOR -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">

                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <button class="btn btn-light-blue"><a title="Write a response" href="#">Write a response</a></button>
                        </div>

                        <div class="articles-author">
                            <img src="img/profile-picture.png" alt="" data-rjs="2">
                            <div class="articles-author-right">
                                <h4>Bill Gates</h4>
                                <div class="social">
                                    <a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                                    <a href="" title="Github"><i class="icon-social_github_circle"></i></a>
                                    <a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
                                </div>
                                <p>
                                    Compassionate entrepreneur on a mission to end homelessness. #jshomes Javascript, tech education, electronic music,
                                    photography,
                                    film, viral apps.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ARTICLE BOTTOM INFO LAST ARTICLES -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="articles-info-section-title">Last Reads</h1>
                    </div>
                </div>
            </div>

            <div class="banners">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">Angular 2 versus React: There Will Be Blood</h1>
                                        <span class="category-tag category-tag-yellow">Javascript</span>
                                        <time datetime="2016-03-01" class="">March 1, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">The End of Global CSS</h1>
                                        <span class="category-tag category-tag-green">Graphic</span>
                                        <time datetime="2016-03-01" class="">March 13, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">Building an CSS Framework</h1>
                                        <span class="category-tag category-tag-blue">CSS</span>
                                        <time datetime="2016-03-01" class="">March 24, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <!-- ARTICLE BOTTOM INFO COMMENTS -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">
                        <h1 class="articles-info-section-title">Responses <span class="italic">(7)</span></h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">
                        <div class="comments">
                            <!-- WRITE NEW COMMENT -->
                            <a title="" href="#" class="light-link comment button-comment">
                                <span class="button-comment-span"><i class="pe-7s-comment"></i> Write a response</span>
                            </a>

                            <!-- COMMENTS LIST -->
                            <ol>
                                <li>
                                    <div class="comment">
                                        <img src="img/profile-picture5.png" alt="Profile Picture" data-rjs="2">
                                        <div class="comment-content">
                                            <h3>Jacob Amaro</h3>
                                            <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                                            <p>
                                                Music is one of the driving forces in my life. I pray you will not let this be the last concert you attend. Dolly
                                                Parton,
                                                Kenny Rogers, Alabama, Three Dog Night, the first Bryan Adams: Cut like A Knife. And many more. Those I have
                                                seen.
                                                Nothing else like it. So proud u share music w your kids.
                                            </p>
                                            <div class="comment-content-footer">
                                                <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                                <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 0</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="comment-response">
                                        <li>
                                            <div class="comment">
                                                <img src="img/profile-picture6.png" alt="Profile Picture" data-rjs="2">
                                                <div class="comment-content">
                                                    <h3>Jacob Amaro</h3>
                                                    <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                                                    <p>
                                                        <span class="italic">@@Jacob Amaro</span> My father would always play Matt Monro or Madonna or some other
                                                        classic CD every Sunday
                                                        morning, while my mom was cooking breakfast. It was always a good Sunday to wake up to. :)
                                                    </p>
                                                    <div class="comment-content-footer">
                                                        <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                                        <a title="Likes" href="#" class="light-link comment-content-footer-icon">
                                                            <i class="pe-7s-like"></i>
                                                            3
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a title="" href="#" class="light-link comment button-comment-center">
                                                <span class="button-comment-text">
                                                    Show more answers <i class="pe-7s-angle-down button-comment-text-right-icon"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ol>
                                </li>

                                <li class="comment">
                                    <img src="img/profile-picture7.png" alt="Profile Picture" data-rjs="2">
                                    <div class="comment-content">
                                        <h3>Mitchell Parison</h3>
                                        <time datetime="2009-11-13T20:00Z">July 20, 2016 at 16:32 AM</time>
                                        <p>Beatiful article! Very helpful!</p>
                                        <div class="comment-content-footer">
                                            <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                            <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 124</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts{

}
