@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="banners">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="Leveling up in CSS">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Leveling up in CSS</h1>
                            <span class="category-tag category-tag-white">CSS</span>
                            <time datetime="2016-01-18" class="">January 18, 2016</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="img/photo1.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="Evolving the Google Identity">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Evolving the Google Identity</h1>
                            <span class="category-tag category-tag-white">Graphic</span>
                            <time datetime="2016-01-18" class="">January 18, 2016</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="img/photo2.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="Angular 2 versus React: There Will Be Blood">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Angular 2 versus React: There Will Be Blood</h1>
                            <span class="category-tag category-tag-white">JAVASCRIPT</span>
                            <time datetime="2016-03-01" class="">March 1, 2016</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="img/photo3.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="The End of Global CSS">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">The End of Global CSS</h1>
                            <span class="category-tag category-tag-white">HTML</span>
                            <time datetime="2016-01-18" class="">January 18, 2016</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="img/photo4.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="Building an CSS Framework">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Building an CSS Framework</h1>
                            <span class="category-tag category-tag-white">CSS</span>
                            <time datetime="2016-01-18" class="">January 18, 2016</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="img/photo5.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>

        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="row">

            <!-- ARTICLES -->
            <div class="col-lg-8 col-xs-12">
                <section class="articles">
                    @foreach (var p in Model.Posts)
                    {
                        <article class="blue-article">
                            <div class="articles-header">
                                <time datetime="2016-10-11">@p.ModifiedDate.ToShortDateString()</time>
                                <span class="articles-header-tag-blue">Hot</span>
                                <span class="articles-header-category"><a asp-page="/Post/List" asp-route-id="@p.CategoryId" class="blue" title="">@p.Category.Name</a></span>
                            </div>
                            <div class="articles-content">
                                <h1>
                                    <a asp-page="/Post/Detail" asp-route-id="@p.Id" title="">
                                        @p.Title
                                    </a>
                                </h1>
                                <p>
                                    @p.Excerpt
                                </p>
                            </div>
                            <div class="articles-footer">
                                <ul class="articles-footer-info">
                                    <li>
                                        <a href="#" class="light-link" title=""><i class="pe-7s-comment"></i> @p.Comments.Count Response</a>
                                    </li>
                                    @*<li><a href="#" class="light-link" title=""><i class="pe-7s-like"></i> 1221</a></li>*@
                                </ul>
                                <a title="" class="btn" asp-page="/Post/Detail" asp-route-id="@p.Id">Read more</a>

                            </div>
                        </article>
                    }


                    <!-- PAGINATION -->
                    <nav aria-label="...">
                        <a title="" href="" class="btn-small-white pagination-back">Back</a>
                        <ul class="pagination">
                            <li class="page-item active">
                                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item page-item-more"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                        </ul>
                        <a title="" href="blog_post.html" class="btn-small-white pagination-next">Next</a>
                    </nav>

                </section>
            </div>

            @(await Component.InvokeAsync("RightAside"))

        </div>
    </div>
</main>
<!-- end MAIN -->